[submodule "pathogen"]
	path = pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
#[submodule "bundle/snipmate"]
#	path = bundle/snipmate
#	url = git://github.com/garbas/vim-snipmate.git
[submodule "bundle/taglist-plus"]
	path = bundle/taglist-plus
	url = git://github.com/int3/vim-taglist-plus.git
[submodule "bundle/addon-mw-utils"]
	path = bundle/addon-mw-utils
	url = git://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "bundle/tlib"]
	path = bundle/tlib
	url = git://github.com/tomtom/tlib_vim.git
#[submodule "bundle/snippets"]
#	path = bundle/snippets
#	url = git://github.com/honza/snipmate-snippets.git
[submodule "bundle/mustang"]
	path = bundle/mustang
	url = git://github.com/croaker/mustang-vim.git
[submodule "bundle/lusty"]
	path = bundle/lusty
	url = git://github.com/sjbach/lusty.git
[submodule "bundle/minibufexpl"]
	path = bundle/minibufexpl
	url = git://github.com/fholgado/minibufexpl.vim.git
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "bundle/ZoomWin"]
	path = bundle/ZoomWin
	url = git://github.com/vim-scripts/ZoomWin
